.main{
    margin: auto;
}
.avatar{
    margin: auto;
    position: relative;
    }
.avatar{
    margin: auto;
    }   
.profilepic{
    margin: auto;
    }
#str{
    position: absolute;
    }
.btnn{
    background-color: white;
    margin-top: 10px;
    width: 100%;
    }
.crd{ 
    width : 100%;
    margin: auto;
    }
