.main{
    margin: auto;
}
.avatar{
    margin: auto;
    position: relative;
    }
.avatar{
    margin: auto;
    }   
.profilepic{
    margin: auto;
    }
#str{
    position: absolute;
    }
.btnn{
    background-color: white;
    margin-top: 10px;
    }
.crd{ 
    width : 360px;
    margin: auto;
    font-size: 14px;
    }
  
    .selectBox{
        width:80px;
        height:25px;
        border-radius:8px;
       
        outline: 1px;
        margin-left: 100px;
        
      }

      .titles{
         margin-top: 10px;
         margin-left:15px;
         font-size: 16px;

         color: darkcyan;
          
      }
      #marterial{
          margin-bottom: 0px;
      }

    
     